<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- 声明自定义的bean-->
    <bean id="cat" class="com.zzh.bean.Cat">
        <constructor-arg name="age" value="1100"/>
    </bean>
    <bean class="com.zzh.bean.Dog"/>

    <!--声明第三方的bean-->

    <bean id="druid" class="com.alibaba.druid.pool.DruidDataSource"/>
</beans>